body {
  background-color: #f6e1f6;
}
#title {
  width: 100%;
  height: 90px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
}
#title #icon {
  display: grid;
  align-items: center;
  justify-content: center;
  font-family: italic 2em Georgia, serif;
  font-weight: 900;
  font-size: 50px;
}
#group {
  height: 35px;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  right: 0;
  justify-self: end;
  align-items: end;
  grid-gap: 20px;
  padding-right: 20px;
  margin-bottom: 5px;
}
#nav {
  width: 100%;
  height: 30px;
  border-style: dashed;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr 2fr;
}
#nav div {
  display: grid;
  align-items: center;
  justify-content: center;
  border-right-style: solid;
  font-size: large;
  font-weight: bold;
}
#nav #search {
  border-right-style: none;
  justify-content: end;
  padding-right: 20px;
}
#nav #search #magnifier {
  border-right-style: none;
  width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
}
#back{
  height: 20px;
  width: 200px;
  position: absolute;
  display: grid;
  right: 0;
  justify-self: end;
  align-items: end;
  margin-bottom: 5px;
}
#post{
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  justify-content: center;
  border-right-style: solid;
  font-size: large;
  font-weight: bold;
}